.footer {
  background-color: #F2F2F2;
}

.title {
  color: #00bcd4;
  font-weight: 900;
  font-size: 1.125rem;
}

.email {
  border-radius: 2rem;
}

.submit {
  border-radius: 2rem;
  width: 8rem;
  background-color: #FF5722;
}
