<div class="detailPage m-32 flex">
  <div class="introRegion w-3/5 p-2">
    <div class="w-full rounded-lg mb-8" style="height: 500px; background-image: url('/assets/images/tear.jpg'); background-size: cover;
          background-size: cover; background-position: center">
    </div>
    <div class="content ">
      <label class="font-sans text-orange-600 m-10 py-10 font-black">登山</label>
      <h1 class="font-sans text-3xl mt-2">揪爬天使的眼淚💧三天兩夜平日糜爛行</h1>
      <h2 class="font-sans font-bold text-lg mt-3">活動介紹</h2>
      <p class="font-sans text-md mt-3 text-gray-600">
        Day 1：池上火車站集合-->向陽國家森林遊樂區入口--> 向陽山屋（住）<br />

        Day 2：向陽山屋 --> 向陽山登山口 --> 嘉明湖避難山屋-->三叉山登山口-->嘉明湖-->三叉山三角點-->嘉明湖避難山屋（住）<br />

        Day 3：嘉明湖山屋-->向陽山登山口（輕裝上向陽山）-->向陽山三角點 --> 向陽山登山口-->向陽名樹--> 向陽山屋-->向陽遊樂區入口->池上火車站
      </p>
      <h3 class="font-sans font-bold text-md mt-4 text-gray-800">▲注意事項：</h3>
      <p class="font-sans text-md mt-3 text-gray-600">
        1.出發前晚氣象預報，看狀況是否出發<br />
        2.參與的夥伴們行進間互助合作及安全提醒,團進團出<br />
        3.有慢性疾病請事先告知，隨團無醫生能急救<br />
        4.此為自組團，各自申請入山入園證，主揪非領隊、嚮導、保姆之職,只是熱心發起活動,風險請參加者自行斟酌，保險請自理<br />
        5.謝絕王子病、公主病參加<br />
      </p>
      <h3 class="font-sans font-bold text-md mt-4 text-gray-800">▲報名方式：</h3>
      <p class="font-sans text-md mt-3 text-gray-600">
        私訊並說明半年內登山資歷（至少有百岳經驗），謝謝
      </p>
      <h2 class="font-sans font-bold text-lg mt-5">有誰參加(4)</h2>
      <div class="card-content mt-4 w-full flex">
        <div class="card-category w-1/6 h-full mx-4 rounded-card overflow-hidden shadow-card cursor-pointer">
          <div class="w-20 h-20 inline-flex mx-10 mt-10" style="background-image: url('/assets/images/man.jpg'); background-size: cover;
            background-size: cover; background-position: center; border-radius: 2.5rem;"></div>
          <div class="w-full h-1/4 px-2 py-2">
            <div class="font-bold text-xl text-center">Kevin Wu</div>
            <p class="content-description h-12 text-gray-700 text-sm text-center">
              主辦人
            </p>
          </div>
        </div>
        <div class="card-category w-1/6 h-full mx-4 rounded-card overflow-hidden shadow-card cursor-pointer">
          <div class="w-20 h-20 inline-flex mx-10 mt-10" style="background-image: url('/assets/images/girl.jpg'); background-size: cover;
            background-size: cover; background-position: center; border-radius: 2.5rem;"></div>
          <div class="w-full h-1/4 px-2 py-2">
            <div class="font-bold text-xl text-center">陳愛佳</div>
            <p class="content-description h-12 text-gray-700 text-sm text-center">
              參加者
            </p>
          </div>
        </div>
        <div class="card-category w-1/6 h-full mx-4 rounded-card overflow-hidden shadow-card cursor-pointer">
          <div class="w-20 h-20 inline-flex mx-10 mt-10" style="background-image: url('/assets/images/man2.jpg'); background-size: cover;
            background-size: cover; background-position: center; border-radius: 2.5rem;"></div>
          <div class="w-full h-1/4 px-2 py-2">
            <div class="font-bold text-xl text-center">陳愛佳</div>
            <p class="content-description h-12 text-gray-700 text-sm text-center">
              參加者
            </p>
          </div>
        </div>
        <div class="card-category w-1/6 h-full mx-4 rounded-card overflow-hidden shadow-card cursor-pointer">
          <div class="w-20 h-20 inline-flex mx-10 mt-10" style="background-image: url('/assets/images/girl2.jpg'); background-size: cover;
            background-size: cover; background-position: center; border-radius: 2.5rem;"></div>
          <div class="w-full h-1/4 px-2 py-2">
            <div class="font-bold text-xl text-center">Anna Wei</div>
            <p class="content-description h-12 text-gray-700 text-sm text-center">
              參加者
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="properties w-2/5 p-5">
    <table class="table-fixed w-full">
      <tr class="cell">
        <td class="title">主辦人</td>
        <td class="intro flex">
          <div class="w-20 h-20 inline-flex" style="background-image: url('/assets/images/man.jpg'); background-size: cover;
            background-size: cover; background-position: center; border-radius: 2.5rem;"></div>
          <span class="name font-bold text-xl ml-8 pt-8">Kevin Wu</span>
        </td>
      </tr>
      <tr class="cell">
        <td class="title">時間</td>
        <td class="intro pt-10">
          <span class="startTime text-sm">2020/09/10 06:30</span>&nbsp;至
          <br />
          <span class="endTime text-sm">2020/09/12 21:00</span>
          <br />
          <span class="distination text-sm">3日遊</span>
        </td>
      </tr>
      <tr class="cell">
        <td class="title">人數</td>
        <td class="intro">四人成團</td>
      </tr>
      <tr class="cell">
        <td class="title">費用</td>
        <td class="intro">3,000元</td>
      </tr>
      <tr class="cell">
        <td class="title">出發地</td>
        <td class="intro">池上火車站</td>
      </tr>
      <tr class="cell">
        <td class="title">目的地</td>
        <td class="intro startTime">嘉明湖</td>
      </tr>
    </table>
  </div>

</div>
<footer id="stickyfoot" [ngClass]="onScroll()" class="flex w-full h-20 bottom-0 bg-white shadow-card">
  <div class="block ml-32 mt-3 w-1/2">
    <h3 class="text-xl font-black">揪爬天使的眼淚💧三天兩夜平日糜爛行</h3>
    <div class="font-sans inline-flex font-black text-lg">
      <span class="tillTime">3日遊</span>
      &nbsp;•&nbsp;
      <span class="startTime">2020/09/10 06:30</span>
      &nbsp;由&nbsp;
      <span class="departure">池上火車站</span>
      &nbsp;集合&nbsp;
      <span class="quota">4人成團</span>
    </div>
  </div>
  <div class="flex w-1/2 m-2">
    <div class="action w-full flex">
      <div class="block w-20">
        <label class="font-sans font-black w-full text-md">參加人數</label>
        <span class="font-sans font-bold text-3xl px-2 w-full text-center">4/4</span>
      </div>
      <button class="disabled font-sans text-sm mx-2 my-3 font-bold h-10 text-center block" disabled>已額滿</button>
      <button class="followBtn font-sans text-sm mx-2 my-3 font-bold h-10 text-center block">加入追蹤</button>
      <button class="shareBtn w-10 h-10 mx-2 my-3 rounded-full">
        <img class="w-6 h-6 ml-2" src="assets/images/share.png">
      </button>
    </div>
  </div>
</footer>

<footer class="flex w-full h-20 bg-white shadow-top">
  <div class="block ml-32 pt-3 w-1/2">
    <h3 class="text-xl font-black">揪爬天使的眼淚💧三天兩夜平日糜爛行</h3>
    <div class="font-sans inline-flex font-black text-lg">
      <span class="tillTime">3日遊</span>
      &nbsp;•&nbsp;
      <span class="startTime">2020/09/10 06:30</span>
      &nbsp;由&nbsp;
      <span class="departure">池上火車站</span>
      &nbsp;集合&nbsp;
      <span class="quota">4人成團</span>
    </div>
  </div>
  <div class="flex w-1/2 m-2">
    <div class="action w-full flex">
      <div class="block w-20">
        <label class="font-sans font-black w-full text-md">參加人數</label>
        <span class="font-sans font-bold text-3xl px-2 w-full text-center">4/4</span>
      </div>
      <button class="disabled font-sans text-sm mx-2 my-3 font-bold h-10 text-center block" disabled>已額滿</button>
      <button class="followBtn font-sans text-sm mx-2 my-3 font-bold h-10 text-center block">加入追蹤</button>
      <button class="shareBtn w-10 h-10 mx-2 my-3 rounded-full">
        <img class="w-6 h-6 ml-2" src="assets/images/share.png">
      </button>
    </div>
  </div>
</footer>
