div {
  div {
    form {

      .searchProperty {
        padding: 0.5rem;

        label {
          padding: 0.5rem;
        }

        input {
          padding: 0.5rem;
        }
      }
    }
  }
}

.submitBtn {
  float: right;
  border-radius: 10px;
  background-color: #00bcd4;
  color: #fff;
}

.submitBtn:hover {
  opacity: .6;
}

.card-content {
  height: 26rem;
}

.card-category {
  transition: transform .5s
}

.card-category:hover {
  transform: scale(1.05)
}

.content-description {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.startTime {
  color: #00bcd4;
}

.departure {
  color: #00bcd4;
}

.distination {
  color: #00bcd4;
}

.description-content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.action {
  flex-direction: column;
  box-sizing: border-box;
  place-content: flex-end space-around;
  align-items: flex-end;
}

.joinBtn {
  width: 6.25rem;
  border-color: #FF5722;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 2px;
  color: #FF5722;
}

.joinBtn:hover {
  background-color: #FF5722;
  color: white;
}

.followBtn {
  width: 6.25rem;
  border-color: #00bcd4;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 2px;
  color: #00bcd4;
}

.followBtn:hover {
  background-color: #00bcd4;
  color: white;
}

.disabled {
  width: 6.25rem;
  background-color: #777777;
  border-color: #777777;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 2px;
  color: white;
}
